@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* estilização padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

input:focus, select:focus {
    border: 2px solid #0080ff;
    outline: 0;
}

body {
    background-color: #d3d0d0;
    max-width: 1450px;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px auto ;
    font-family: 'Work Sans', sans-serif;
}

form {
    width: 500px;
    height: 570px;
    background-color: rgb(124, 110, 90);
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid #000;
    filter: drop-shadow(1px 1px 5px);
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

label {
    margin-top: 25px;
    font-size: 19px;
    color: #020202;
    font-family: 'Bebas Neue', sans-serif;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    border: 1px solid #000;
}

select {
    width: 300px;
    height: 30px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    border: 1px solid #000;
    transition: 0.5s ease-in-out;
}

.buttons {
    width: 100%;
    height: 65px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    border: 1px solid #000;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

button:nth-of-type(2) {
    background-color: rgb(235, 15, 15);
    color: #fff;
}

ul {
    width: 80%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
}

li {
    list-style: none;
    color: #000000;
    white-space: break-spaces;
    font-size: 17px;
}

#inf-pacientes {
    overflow-y: scroll;
}

#inf-pacientes::-webkit-scrollbar {
    width: 5px;
}

#inf-pacientes::-webkit-scrollbar-thumb {
    background: #333;
}

@media (max-width: 600px) {
    form {
        width: 350px;
    }
}